.signup-form {
    text-align: left;
    background: rgba(255, 255, 255, 0.3);
    border: solid #73fff0 1px;
    border-radius: 15px;
}
.site-index > .content {
    height: 850px;
    margin-top: -425px;
}
#minimap {
    width: 765px;
    height: 455px;
    z-index: 1;
}

.btn-small-space {
    white-space: normal;
    font-size: 10px;
}

.img-loading {
    left: 50%;
    position: relative;
    margin-left: -7px;
}



.input-loading {
    background-color: #ffffff;
    background-image: url("../img/ajaxloader.gif");
    background-size: 25px 25px;
    background-position:right center;
    background-repeat: no-repeat;
}

.leaflet-popup-content-wrapper {
    border: solid 2px #00ace7 !important;
    border-radius: 7px !important;
    width: 160px;
    padding: 10px 25px 10px 15px !important;
}