.signup-form {
    text-align: left;
    background: rgba(255, 255, 255, 0.3);
    border: solid #73fff0 1px;
    border-radius: 15px;
}
.site-index > .content {
    height: 850px;
    margin-top: -425px;
}
#minimap {
    width: 765px;
    height: 455px;
}

.btn-small-space {
    white-space: normal;
    font-size: 10px;
}

.img-loading {
    left: 50%;
    position: relative;
    margin-left: -109px;
}