html,
body {
    height: 100%;
}
.wrap {
    height: 100%;
}
.wrap .container {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.graddiend-background-header {
    background: url("../img/vegetables.jpg");
}
.header {
    height: 50px;
    padding-top: 5px;
    border-bottom: solid black 1px;
}

.logo {
    background-image: url('../img/logo_small.jpg');
    background-position-x: 12px;
    background-position-y: 5px;
    width: 120px;
    height: 120px;
    border: black 1px solid;
    border-radius: 60px;
    margin: 5px 0;
    display: block;
}
.buttons div:first-child {
    border: none !important;
}
.body-background {
    background-image: linear-gradient(#147a00, #311903);

}
.site-index, .body-content {
    width: 100%;
    height: 100%;

}
.site-index .btn-link {
    color: #10436f;
}
.container {
    background: url("../img/background.png");
}
.site-index {
    background: radial-gradient(circle at 50%, rgba(255, 255, 255, 0.8), rgba(189, 252, 208, 0.7) 80%, rgba(177, 255, 231, 0) 150%);
}
.btn-link:hover {
    background: rgba(255, 255, 255, 0.3);
}
.site-index > .content {
    width: 800px;
    left: 50%;
    margin-left: -400px;
    position: absolute;
    text-align: right;
    height: 500px;
    top: 50%;
    margin-top: -250px;
    overflow: hidden;
}
.site-index > .content p {
    line-height: 14px;
    font-size: 11px;
    font-family: Helvetica, sans-serif;
}
.site-index .content .text {
    padding: 5px 15px;
    border-right: solid 1px #CCCCCC;
}
.site-index .content .buttons {
    padding-top: 150px;
}
.text-content {
    font-weight: 700;
}
.site-index .content .buttons div {
    border-bottom: solid 1px #CCCCCC;
    padding: 5px 10px;
    width: 140px;
    text-align: left;
}

.site-index .content .buttons div a {
    text-decoration: none;
    cursor: pointer;
}
#map {
    width: 100%;
    height: 100%;
}

.my-map-icon {
    /*border-radius: 25px;*/
}

@media(max-height:767px) {
    .container {
        background: url("../img/background.png") 0 -200px;
    }
}
.div-loading {
    height: 400px;
    padding-top: 170px;
}
/*

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

!* add sorting icons to gridview sort links *!
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

!* align the logout "link" (button in form) of the navbar *!
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
*/
