.header {
    height: 45px;
    background: #7887fc !important;
    color: white;
}

.header .logout {
    margin-right: 35px;
}

.btn-link {
    color: #fffefe;
}

.display-block {
    display: block;
}
.list-group-item .d-flex small {
    float: right;
    font-size: 10px;
}